
@font-face {
    font-family: clashDisplay;
    src: url('/fonts/ClashDisplay-Medium.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: panchang;
    src: url('/fonts/Panchang-Bold.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: clashGrotesque;
    src: url('/fonts/ClashGrotesk-Semibold.otf');
    font-style: normal;
    font-weight: 100;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html{
    scroll-behavior:smooth;
}

header{
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 20px 8%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    background-color: transparent;
    z-index: 1;
}

.logo{
    cursor: pointer;
    width: 90px;
    height: auto;
    background-color: transparent;
}

nav{
    background-color: transparent;
}

.nav_links{
 background-color: transparent;
}

.nav_links li{
    display: inline-block;
    padding: 20px;
    margin-left: 60px; 
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

li, a{
    font-family: "clashDisplay", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.nav_links li a:hover{
    color:grey;
}

.video-container{
    overflow: hidden;
    height: 46vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section{
    display: flex;
}

video{
    filter: brightness(0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    color: white;
    font-family: panchang;
    background-color: transparent;
    flex-direction: column;
    text-align: center;
}

.hero-heading{
    background-color: transparent;
    font-size: 400%;
    text-align: center;
    line-height: 1;
}

.hero-container{
    display: flex;
    background-color: transparent;
    justify-content: center;
    margin-top: 58px;
}

.hero-button{
    font-family: "clashGrotesque", sans-serif;
    font-size: 115%;
    background-color: #79d97c;
    color: black;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
}

.hero-button:hover{
    opacity: 0.75;
}

.video-section-container{
    margin-top: 100px;
    margin-left: 100px;
}

.flexbox-header{
    display:flex;
    justify-content: space-between;
}

.section-header{
    font-family: "panchang";
    color: white;
    font-size: 40px;
}

.header-button{
    font-family: "clashGrotesque", sans-serif;
    font-size: 115%;
    background-color: #79d97c;
    color: black;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
    margin-right: 100px;
    opacity: 1;
}
.header-button:hover{
    opacity: 0.75;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
    margin-right: 100px;
    margin-top: 50px;
}

.thumbnail-container{
    overflow: hidden;
    border-radius: 5%;
    position: relative;
}

.thumbnail{
 width: 100%;
 height: 100%;
 object-fit: contain;
 transition: transform .5s ease, filter .25s ease-out;
 border-radius: 5%;
 filter: brightness(100%);
 display: block;
}

.video-title{
    color: white;
    font-family: panchang;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease 0s;
}

.video-preview:hover .video-title{
    color: #79d97c;
}

.video-preview:hover .thumbnail{
    transform: scale(1.05);
    filter: brightness(75%)
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    background-color: transparent;
}

.icon{
    width: 70px;
    height: auto;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-preview:hover .icon{
    opacity: 1;
}














