
@font-face {
    font-family: clashDisplay;
    src: url('/fonts/ClashDisplay-Medium.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: panchang;
    src: url('/fonts/Panchang-Bold.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: clashGrotesque;
    src: url('/fonts/ClashGrotesk-Semibold.otf');
    font-style: normal;
    font-weight: 100;
}


@font-face {
    font-family: clashGrotesque_light;
    src: url('/fonts/ClashGrotesk-Light.otf');
    font-style: normal;
    font-weight: 100;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html{
    scroll-behavior:smooth;
}

header{
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 0px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    background-color: transparent;
    z-index: 1;
}

.logo{
    cursor: pointer;
    width: 90px;
    height: auto;
    background-color: transparent;
}

.menu-image{
    width: 20px;
    height: auto;
    background-color: transparent;
    margin-top: 0px;
}

.menu-button{
    border: none;
    margin-top: 10px;
    width: 40px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
}

.menu-links{
    list-style-type: none;
}

.sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0px;
    background-color: black;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.3s;
}

.sidemenu.open{
    width: 250px;
}

.sidemenu a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: "clashDisplay", sans-serif;
  }

.exit-button{
    height: 20px;
    width: 20px;
    background-color: transparent;
}

.main-page-overlay{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
}

nav{
    background-color: transparent;
}

.nav_links{
 background-color: transparent;
}

.nav_links li{
    display: inline-block;
    padding: 20px;
    margin-left: 60px; 
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

li, a{
    font-family: "clashDisplay", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.nav_links li a:hover{
    color:grey;
}

.video-container{
    overflow: hidden;
    height: 46vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section{
    display: flex;
}

video{
    filter: brightness(0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    color: white;
    font-family: panchang;
    background-color: transparent;
    flex-direction: column;
    text-align: center;
}

.hero-heading{
    background-color: transparent;
    font-size: 400%;
    text-align: center;
    line-height: 1;
}

.hero-container{
    display: flex;
    background-color: transparent;
    justify-content: center;
    margin-top: 58px;
}

.hero-button{
    font-family: "clashGrotesque", sans-serif;
    font-size: 115%;
    background-color: #79d97c;
    color: black;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
}

.hero-button:hover{
    opacity: 0.75;
}

.video-section-container{
    margin-top: 100px;
    margin-left: 100px;
}

.flexbox-header{
    display:flex;
    justify-content: space-between;
}

.video-section-header{
    font-family: "panchang";
    color: white;
    font-size: 40px;
}

.header-button{
    font-family: "clashGrotesque", sans-serif;
    font-size: 115%;
    background-color: #79d97c;
    color: black;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    transition: opacity 0.3s ease 0s;
    cursor: pointer;
    margin-right: 100px;
    opacity: 1;
}
.header-button:hover{
    opacity: 0.75;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.thumbnail-container{
    overflow: hidden;
    border-radius: 5%;
    position: relative;
}

.thumbnail{
 width: 100%;
 height: 100%;
 object-fit: contain;
 transition: transform .5s ease, filter .25s ease-out;
 border-radius: 5%;
 filter: brightness(100%);
 display: block;
}

.video-title{
    color: white;
    font-family: panchang;
    font-size: 20px;
    margin-top: 15px;
    transition: all 0.3s ease 0s;
}

.video-preview:hover .video-title{
    color: #79d97c;
}

.video-preview:hover .thumbnail{
    transform: scale(1.05);
    filter: brightness(75%)
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    background-color: transparent;
}

.icon{
    width: 70px;
    height: auto;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-preview:hover .icon{
    opacity: 1;
}

.members-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 150px;
    column-gap: 25px;
    row-gap: 40px;
}

.member-section-header{
    font-family: "panchang";
    color: white;
    font-size: 35px;
}

.member-container{
    border-style: solid;
    border-width: px;
    border-color: #3a3b3a;
    border-radius: 3%;
    overflow: hidden;
}

.image-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 375px;
    height: 500px;
    padding-top: 20px;
    position: relative;
}

.name{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: panchang;
    font-size: 20px;
    color: white;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.member-container:hover .name{
    color: #79d97c; 
}


.member-image{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.overlay-member{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.description{
    font-family: clashGrotesque_light;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:20px;
    text-align: center;
    line-height: 25px;
}

.insta_icon{
    width: 60px;
    height: auto;
    background-color: transparent;
    padding-bottom: 10px;
    padding-right: 10px;
}

.footer_wrapper{
     padding-right: 100px;
}

.footer_credential_list{
    list-style-type: none;
    display: block;
}

.footer_credential_list, li{
    float: left;
    font-family: clashGrotesque_light;
    font-size: 15px;
    margin-right: 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    border-top: 2px solid white;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
}

.footer_icon_list{
    list-style-type: none;
}

.footer_icon_list li{
    float: left;
}

.footer_icon_list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.footer_icon_list li a:hover{
    opacity: 0.75;
}

.footer_icon{
    width: 45px;
    height: 45px;
    object-fit: cover;
    background-color: white;
}

.footer_logo_jepoy{
    width: 300px;
    height: 100px;
}

@media(min-width: 1920px){
    .description{
        font-size: 17px;
        line-height: 30px;
    }
} 

@media (max-width: 725px){

    header{
        padding-left: 20px;
        padding-right: 0px;
    }
    .hero-heading{
        font-size: 30px;
    }
    .video-container{
        height: 80vw;
    }

    .nav_links{
        display: none;
    }
    
    .logo{
        margin-left: 420px;
        width: 60px;
        margin-top: 10px;
    }

    .hero-button{
        font-size: 90%;
        padding: 20px 30px;
    }
    .video-section-header{
        font-family: "panchang";
        color: white;
        font-size: 30px;
    }
    .header-button{
        display: none;
    }

    .video-section-container{
        margin-left: 0px;
        margin-right: 0px;

    }

    .flexbox-header{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .video-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }

    .video-section-container{
        margin-top: 100px;
    }

    .video-caption{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-title{
        color: white;
        font-family: panchang;
        font-size: 20px;
        margin-top: 15px;
        transition: all 0.3s ease 0s;
    }

    .member-section-header{
        display: flex;
        font-family: "panchang";
        color: white;
        font-size: 28px;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .members-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .footer_wrapper{
        padding-right: 0px;
   }

   .footer_credential_list, li{
    float: left;
    font-family: clashGrotesque_light;
    font-size: 15px;
    margin-left: 28px;
    margin-top: 10px;
}

}

















